#banner {
    width: 300px;
    height: 600px;
    position: relative;
    overflow: hidden;
}
#background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.background-item {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
}
#background-1 {
    animation: bgAnimatedLeft 10s linear infinite;
}
#background-2 {
    animation: bgAnimatedRight 10s linear infinite;
}
#clock {
    position: relative;
    z-index: 2;
}
#imageClock {
    position: relative;
    animation: clock 0.3s ease-out;
}

@keyframes bgAnimatedLeft{
    from {
        background-position: 100px 0;
    }
    to {
        background-position: 0 0;
    }
}

@keyframes bgAnimatedRight{
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100px 0;
    }
}

@keyframes clock {
    from {
        bottom: -100px;
    }
    to {
        bottom: 0;
    }
}