* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#banner {
    overflow: hidden;
    position: relative;
    width: 80%;
    height: 70vh;
    margin-left: auto;
    margin-right: auto;
}
.banner-item {
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.banner-item img {
    max-width: 100%;
}
.banner-texts {
    position: absolute;
    bottom: 10vh;
    left: 20px;
    color: white;
}
.banner-texts h3 {
    font-size: 30px;
}
.banner-item.active {
    visibility: visible
}